span {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 217, 0);
}
.blueColor {
  color: rgb(0, 0, 0);
  font-family: arial;
  font-size: 16px;
}
#specificColor {
  color: rgb(54, 0, 126);
  font-family: verdana;
  font-size: 16px;
}
#specificTitle {
  color: rgb(1, 0, 2);
  font-family: verdana;
  font-size: 25px;
}